.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../assets/img2.png) no-repeat;
  background-size: cover;
}

.Header {
  font: 1.5rem cursive;
  margin-left: 9vw;
  font-weight: 900;
  padding: 1rem;
  color: rgb(255, 255, 255);
  background-position: center;
  cursor: pointer;
}

.Header h2 {
  margin-left: -7.7rem;
  margin-top: 1vh;
}

.Header h6 {
  font: 1.4rem monospace;
}

.link a {
  font: 1rem monospace;
  text-decoration: none;
  color: rgb(175, 175, 175);
  background: rgb(84, 67, 4);
  border: 1px solid rgb(84, 67, 4);
  border-radius: 4px;
  padding: 0.6rem 5rem 0.6rem 5.4rem;
  margin: 0 0 0 -4.5rem;
}



.link {
  margin-top: 3vh;
}

.link a:hover {
  background-color: transparent;
  color: rgb(84, 67, 4);
  transition: .5s;
}

.icons {
  vertical-align: middle;
  margin-left: 4px;
  
}

/* Media Queries for Mobile View */
@media (max-width: 600px) {
  .Home {
    align-items: flex-start; 
    padding: 2rem; 
  }

  .Header {
    margin-left: 0; 
    text-align: center;
  }

  .Header h2 {
    margin-left: 0; 
    margin-top: 1rem; 
  }

  .link a {
    padding: 0.7rem ;
    margin-left: 0.8rem; 
    text-align: center; 
  }
}
