<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../scripts/myscript.js"></script>
    <title>SERVING STATIC FILES</title>
</head>
<body>
    <div class="card">
        <h2>WELCOME TO DEMO API</h2>
        <p>
            this is a dem.
            As a backend engineer, you will be responsible for curating the structure 
            of server side information. You will also primarily write server scripts and 
            API's to be utilized by front side engineers and UX designers. The day to 
            day consist of optimizing servers for speed and stability, implementing 
            security structures, generating reusable code libraries , maintenance of 
            central database and generating data storage solutions.
        </p>
    </div>
</body>
</html>